h3
{
	text-align : center
}
input, #btnBuscar, a
{
	display: block;
	margin: 0.2em 0 0.2em 0;
}

table thead td
{	
	font-weight: bold;
}

#btn_submit, #btn_volver
{
	margin-top: 0.5em;
}



#div_tab
{
	padding-top: 2em;
}

#dListProducto
{		
	padding-top: 2em;			
}

#dProducto1, #dProducto2, #dListProducto
{
	border-left: 2px solid black;
}


#filtroCliente, #filtroProducto, #filtroMvts, #filtroCxc, #filtroListCxc
{			
	padding-top: 0;
	padding-left: 0;
	margin-top: 0;	
}

#filtroCliente h2, #filtroProducto h2, #filtroMvts h2, #filtroCxc h2, #filtroListCxc h2
{			
	text-align : left;
	margin-top: 0;
	margin-left: 0;	
}

#lblTitulo, #btnTitulo
{	
	padding-right: 0;
	padding-left: 8px;
}

#tablaProductos, #tablaClientes, #tablaGeneral, #tablaCuentas, #tablaListCuentas
{
	padding: 1em;
}

#tablaResponsive
{
	padding: 1em;
}

#listIngresos, #listEgresos
{
	padding: 1em;
}




