{% extends "base.html" %}

{% block inicioDajax %}
	{% load dajaxice_templatetags %}
{% endblock inicioDajax %}

{% block importJsDajax %}
	{% dajaxice_js_import %}
	<script type="text/javascript" src="/static/dajax/jquery.dajax.core.js" ></script>
{% endblock importJsDajax %}

{% block estilo %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/estiloAdmin.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.10.3.custom.min.css">
{% endblock estilo %}


{% block contenido %}
	<section id="contenedor" class="col-sm-12 ">
		<article  class="col-sm-3">
			
			
			<div class="panel panel-default">
			  <div class="panel-heading">Informaci&oacute;n Proveedor</div>
			  <div class="panel-body">
			    <form method="post" id="formCliente"> {% csrf_token %}
					<div class="input-group ">
						<input type="text" id="txtNitProveedor" name="txtNitProveedor" value="{{ query|escape }}" class="form-control " placeholder="Nit cliente">
						<span class="input-group-btn">
					    	<button class="btn btn-default " type="button" id="btnBuscar" onclick="getProveedor();">
					    	  		<span class="glyphicon glyphicon-search"></span> 
					    	</button>
				    	</span>
					</div>
					<input type="text" class="form-control " id="txtNombreProveedor" readonly placeholder="Proveedor"/>	
					<input type="text" class="form-control " id="txtFechaFactura"  placeholder="Fecha Factura"/>	
					<input type="text" class="form-control " id="txtNumeroFactura"  placeholder="Numero Factura"/>
						
				</form>
			  </div>
			</div>
			
			<div class="panel panel-default">
			  <div class="panel-heading">Informaci&oacute;n Compra</div>
			  <div class="panel-body">
			    <ul class="list-group">
				  <li class="list-group-item">
				    <span class="badge" id="spanNeto">0</span>
				    Valor Neto
				  </li>
				  <li class="list-group-item">
				    <span class="badge" id="spanDescuento">0</span>
				    Valor Descuento
				  </li>
				  <li class="list-group-item">
				    <span class="badge" id="spanTotal">0</span>
				    Valor Total
				  </li>
				  <li class="list-group-item">
					<label class="checkbox">
			            <input type="checkbox" value="option1" id="formaPagoCheck"> Compra a cr&eacute;dito?
			        </label>
				  </li>
				  <li class="list-group-item">
					<p align="center">
					  <button type="button" class="btn btn-primary" onclick="validarCompra();">Guardar</button>
					  <button type="button" class="btn btn-default ">Cancelar</button>
					</p>
				  </li>
				</ul>
				
			  </div>
			</div>
			
		</article>
		
		<article class="col-sm-8 ">
			<article class="panel panel-default">
				<div class="panel-body">				
				   <div id="resultado">							
				   </div>
				   <div class="row">			   		
				   		<div class="col-sm-4">			   			
				   			<div class="input-group ">
				   				<span class="input-group-btn">
							    	<button class="btn btn-default" type="button" id="btnCatalogo" onclick="cargarModal();">
							    	  		<span class="glyphicon glyphicon-list-alt"></span> 
							    	</button>
						    	</span>
								<input type="text" id="txtNitProducto" name="txtNitProducto" value="{{ query|escape }}" class="form-control" placeholder="Codigo">								
								<span class="input-group-btn">
							    	<button class="btn btn-default" type="button" id="btnBuscar" onclick="getProducto();">
							    	  		<span class="glyphicon glyphicon-search"></span> 
							    	</button>
						    	</span>
							</div>
				   		</div>
				   		<div class="col-sm-5">			   			
							<input type="text" id="txtNombrePrd" readonly class="form-control" placeholder="Nombre">	
							<input type="hidden" id="txtProductoCargado" readonly value="0" />
							<input type="hidden" id="txtCantidadProducto" value="0"  />					
						</div>	
						<div class="col-sm-3">			   			
							<input type="text" id="txtCantidadPrd" class="form-control" placeholder="Cantidad">						
						</div>								   
				   </div>
				   <div class="row">
				   		<div class="col-sm-3">			   			
							<input type="text" id="txtPrecioC" class="form-control" placeholder="Precio Compra">						
						</div>
						<div class="col-sm-3">			   			
							<input type="text" id="txtPrecioV" class="form-control" placeholder="Precio Venta">						
						</div>
						<div class="col-sm-3">			   			
							<input type="text" id="txtDescuentoPrd" class="form-control" placeholder="Descuento">						
						</div>
						<div class="col-sm-3 text-right">			   			
							<button type="button" class="btn btn-primary" onclick="addProducto();">Adicionar</button>
							<button type="button" class="btn btn-default" onclick="addProducto();">Cancelar</button>						
						</div>
				   </div>				
				</div>
			</article>						   			
		</article>
		
		<article id="listPrductoCompra" class="col-sm-8">
			
		</article>
		
		<!-- modal para eliminar productocompra -->
		<article class="modal fade" id="modalEliminar" >
			<div class="modal-dialog ">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Eliminar Producto</h4>
					</div>
					<div class="modal-body">
						<p>Esta seguro que desea eliminar este producto de la factura?</p>	
					</div>
					<div class="modal-footer">						
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<a class="btn btn-danger" id="btnDel" onclick="eliminarPrdCompra();" data-toggle="modal">Eliminar</a>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</article><!-- /.modal -->	

		
		
		
	</section>
{% endblock contenido %}


{% block script %}
	<script type="text/javascript">
	
		$(document).on('ready', inicio);
		var cabeceraGeneral;
	
		
		function inicio()
		{		
			var fecha = $("#txtFechaFactura");
			fecha.datepicker({dateFormat: 'yy-mm-dd'});
			cabeceraGeneral = {{ cabecera }};
		}
		
		function getProveedor()
		{
			nit = document.getElementById('txtNitProveedor').value;
			if ( nit != '' )
			{				
				Dajaxice.factCompra.cargarProv(Dajax.process,{'nitProv': nit,
															  'cabecera': cabeceraGeneral});	
			}			
		}
		
		function getProducto()
		{			
			codigo = document.getElementById('txtNitProducto').value;			
			if ( codigo != '' )
			{				
				Dajaxice.factCompra.cargarProducto(Dajax.process,{'nitProducto': codigo, });	
			}			
		}
		
		function addProducto()
		{
			Dajaxice.factCompra.addProductoCompra(listarProductos,{'cabecera': cabeceraGeneral,
					 											  'producto': document.getElementById('txtProductoCargado').value,
					 											  'cantidad': document.getElementById('txtCantidadPrd').value,
					 											  'pre_compra': document.getElementById('txtPrecioC').value,
					 											  'pre_venta': document.getElementById('txtPrecioV').value,
					 											  'descuento': document.getElementById('txtDescuentoPrd').value,});
		}
		
		function listarProductos(data)
		{				
			$('#modalEliminar').modal('hide');
			
			var div = document.getElementById('listPrductoCompra');
			var htmlFinal = "";
			
			var inicial = "<article id='tablaResponsive'  class='table-responsive'>"
			inicial += "<table class='table table-striped table-bordered' id='tableProductos'> <thead> <tr> <td>Producto</td> "; 
			inicial += "<td>Cantidad</td>  <td>Descuento</td> <td>Valor Total</td>  <td></td>  </tr> </thead> ";
	  		
			htmlFinal += "<tbody>";
			
	  		var productos = data.datos;
	  		
			for(var i=0; i<productos.length; ++i){
				htmlFinal += "<tr>";
	 			htmlFinal += "<td>" + productos[i].producto + "</td>";
	 			htmlFinal += "<td>" + productos[i].cantidad + "</td>";
	 			htmlFinal += "<td>" + productos[i].descuento + "</td>";
	 			htmlFinal += "<td>" + productos[i].total + "</td>";
	 			htmlFinal += "<td> <a onclick='cargarModalEliminar(this.id);' role='button' id='" + productos[i].id + "' class='btn btn-danger'> <span class='glyphicon glyphicon-trash'></span> </a> ";
	 			htmlFinal += "<a onclick='cargarPrdEdit(this.id);' role='button' id='" + productos[i].id + "'  class='btn btn-default'> <span class='glyphicon glyphicon-edit'></span> </a> </td>";
	 			htmlFinal += "</tr>";
			}
			
			if ( i == 0 )
			{
				inicial = "";
			}
			else
			{
				htmlFinal += "</tbody> </table> </article>";
		 		inicial += htmlFinal; 
			}
			
			div.innerHTML = "";
			div.innerHTML = inicial;
			
			document.getElementById("spanDescuento").innerHTML = data.desc;
			document.getElementById("spanNeto").innerHTML = data.total;
			document.getElementById("spanTotal").innerHTML = data.totalPagar ;			
			document.getElementById('txtCantidadProducto').value = i;
			clearProducto()

		}
		
		function cargarPrdEdit(prdEdit)
		{
			Dajaxice.factCompra.cargarEdit(Dajax.process,{'numPrd': prdEdit});	
		}
		
		function clearProducto()
		{
			document.getElementById('txtNombrePrd').value = '';
			document.getElementById('txtProductoCargado').value = '';
			document.getElementById('txtCantidadPrd').value = '';
			document.getElementById('txtPrecioC').value = '';
			document.getElementById('txtPrecioV').value = '';
			document.getElementById('txtDescuentoPrd').value = '';
		}
		
		function cargarModalEliminar(prd_id)
		{					
			id_prod = prd_id;
			$('#modalEliminar').modal('show');				
		}
		
		function eliminarPrdCompra()
		{		
			Dajaxice.factCompra.eliminarPrd(listarProductos,{'numPrd': id_prod,
															'cabeceraId': cabeceraGeneral});	
		}
		
		function validarCompra()
		{		
			var contador = document.getElementById('txtCantidadProducto').value;	
			var texto = '<ul>'
			var bandera = 'N';
			
			if( contador == 0 )
			{
				texto = texto + '<li>Debe tener m&iacute;nimo un producto registrado en la factura</li>';
				bandera = 'Y';
			}

			var campo = document.getElementById('txtNombreProveedor').value;
			if( campo == '' )
			{
				texto = texto + '<li>Debe seleccionar un proveedor</li>';
				bandera = 'Y';
			}
			campo = document.getElementById('txtFechaFactura').value;
			if( campo == '' )
			{
				texto = texto + '<li>Debe ingresar una fecha para la compra</li>';
				bandera = 'Y';
			}
			campo = document.getElementById('txtNumeroFactura').value;
			if( campo == '' )
			{
				texto = texto + '<li>Debe ingresar un n&uacute;mero de compra</li>';
				bandera = 'Y';
			}
			
			var texto = texto + '</ul>' ;
			
			if ( bandera == 'Y' )
			{
				$("#resultado").html('<div class="alert alert-danger">' + texto + '</div>');	
			}
			else
			{
				$("#resultado").html('');
				var forma_pago = document.getElementById("formaPagoCheck").checked;
				if ( forma_pago == false )
				{
					forma_pago = 'C'
				}
				else
				{
					forma_pago = 'F'
				}
				Dajaxice.factCompra.comprar(finalCompra,{'cabecera': cabeceraGeneral,
															  'formaPago' : forma_pago,
															  'fechaFact' :	$('#txtFechaFactura').val(),				
															  'numFact': $('#txtNumeroFactura').val()});
			}
		}			
		
		function finalCompra()
		{
			alert('termino');
		}
		
	</script>
	
	<script type="text/javascript" src="{{STATIC_URL}}js/jqueryui.js"></script>	
{% endblock script %}



