{% extends "base.html" %}

{% block estilo %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/estiloAdmin.css">
{% endblock estilo %}	

{% block contenido %}
	<section id="contenedor"  class="col-sm-12 ">
		<article  class="col-sm-8 ">
			<div class="well well-sm">
				esto es los abonos
			</div>			
		</article>
		
		<article  class="col-sm-8 ">			
			<article  class="col-sm-6 ">
				<div class="well well-sm">
					inf cuenta
				</div>	
			</article>
			
			<article  class="col-sm-6 ">
				<div class="well well-sm">
					form abonos
				</div>	
			</article>					
		</article>
		
		<article  class="col-sm-8 ">
			<div class="well well-sm">
				abonos
			</div>			
		</article>
		
		
	</section>

{% endblock contenido %}

