{% extends "base.html" %}

{% block estilo %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/estiloAdmin.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/dataTables.bootstrap.css">
{% endblock estilo %}	

{% block contenido %}
	<section id="contenedor" >
		
		<article id="filtroProducto" class="col-md-8 col-md-offset-2">			
			<div class="col-md-4" id="lblTitulo">
				<h2>Lista de Productos</h2>
			</div>
			<div class="col-md-4 col-md-offset-4 text-right"  id="btnTitulo">
				<a href="{% url producto.views.registro %}" class="btn btn-primary">Agregar Producto</a>
			</div>
		</article>

		<article id="tablaProductos" class="col-md-8 col-md-offset-2 ">
			<article  class="table-responsive">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped " id="tablaPrd" width="100%">
					<thead>
						<tr>
							<td>Nombre Producto</td>									
							<td>Cantidad Disponible</td>
							<td>Precio Venta</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for producto in productos %}
						<tr>
							<td>{{ producto.nombre }}</td>
							<td>{{ producto.cantidad }}</td>
							<td>{{ producto.precioventa }}</td>
							<td>
								<a href="{% url producto.views.editarProducto producto.id %}" role="button" class="btn btn-default">
									<span class="glyphicon glyphicon-edit"></span> 
								</a> 
								<a data-toggle="modal" onclick="cargarModal(this.id);" class="btn btn-danger" id="{{ producto.id }}">
									<span class="glyphicon glyphicon-trash"></span> 
								</a> 
							</td>	
						</tr>					
						{% endfor %}
					</tbody>
				</table>
			</article>		
		</article>

		<article class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Eliminar Producto</h4>
					</div>
					<div class="modal-body">
						<p>Esta seguro que desea eliminar este producto?</p>	
					</div>
					<div class="modal-footer">						
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<a class="btn btn-danger" id="btnDel" onclick="eliminar();" data-toggle="modal">Eliminar</a>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</article><!-- /.modal -->
		
	</section>

{% endblock contenido %}


{% block script %}
	<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
	<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/dataTables.bootstrap.js"></script>

	<script type="text/javascript">
	
		$(document).ready(function(){
		    $('#tablaPrd').dataTable({
		    	'oLanguage': {
		    		"sSearch": "Buscar:",
		    		"sProcessing": "Procesando...",
		    		"sEmptyTable": "No hay productos disponibles",
		    		"sZeroRecords": "No se encontraron resultados",
		    		"sLengthMenu": "Mostrar _MENU_ registros",
		    		"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
		    		"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
		    		"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
		    		"sInfoPostFix": "",
		    		"sUrl": "",
		    		"sLoadingRecords": "Cargando...",
		    		"sInfoThousands": ",",
		    		"oPaginate": {
						"sFirst": "Primero",
						"sLast": "Ultimo",
						"sNext": "Siguiente",
						"sPrevious": "Anterior"
					},
					"fnInfoCallback": null,
				},
				
		    });
		    
		});

		var id_pro = 0;

		function cargarModal(id)
		{			
			id_pro = id;
			$('#myModal').modal('show');
					
		}

		function eliminar()
		{
			url = '{% url producto.views.delProducto 0 %}'.replace('0', id_pro);
			$.ajax({			
						url: url,						
						type: 'GET',
						data : {formula: url},
						success: function(data){
							location.reload();
						},
						processData: false,
						contentType: false,
						error: function(data){
							alert('Error de servidor');
						}
					});
		}

	</script>
{% endblock script %}
