{% extends "base.html" %}

{% block estilo %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/estiloAdmin.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/responsiveJTable.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/dataTables.bootstrap.css">
{% endblock estilo %}	

{% block contenido %}
	<section id="contenedor" >
		<article id="filtroCxc" class="col-md-8 col-md-offset-2">
				<div class="col-md-6" id="lblTitulo">
					<h2>Lista de cuentas por pagar</h2>
				</div>													
		</article> 

		<article id="tablaCuentas" class="col-md-8 col-md-offset-2">
			<article id="tablaResponsive"  class="table-responsive">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="tablaCxp" width="100%">			
					<thead>
						<tr>
							<td>Proveedor</td>									
							<td>Total Deuda</td>
							<td>Total Abonos</td>						
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for cuenta in cxp %}
						<tr>
							<td>{{ cuenta.proveedorId }}</td>
							<td>{{ cuenta.totalDeudaGeneral }}</td>
							<td>{{ cuenta.totalAbonosGeneral }}</td>						
							<td>
								<a href="{% url cxc.views.addAbono cuenta.id %}" role="button" class="btn btn-default">Abonar
									<span class="glyphicon glyphicon-usd"></span> 
								</a>							 
							</td>
							
						</tr>					
						{% endfor %}
					</tbody>
				</table>
			</article>
		</article>		
	</section>

{% endblock contenido %}


{% block script %}

	<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
	<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/dataTables.bootstrap.js"></script>
	
	<script type="text/javascript">
	
		$(document).on('ready', inicio);
		
		function inicio()
		{		
			$('#tablaCxp').dataTable({
		    	'oLanguage': {
		    		"sSearch": "Buscar:",
		    		"sProcessing": "Procesando...",
		    		"sEmptyTable": "No hay cuentas por pagar disponibles",
		    		"sZeroRecords": "No se encontraron resultados",
		    		"sLengthMenu": "Mostrar _MENU_ registros",
		    		"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
		    		"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
		    		"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
		    		"sInfoPostFix": "",
		    		"sUrl": "",
		    		"sLoadingRecords": "Cargando...",
		    		"sInfoThousands": ",",
		    		"oPaginate": {
						"sFirst": "Primero",
						"sLast": "Ultimo",
						"sNext": "Siguiente",
						"sPrevious": "Anterior"
					},
					"fnInfoCallback": null,
				}
		    });			
		}
		
	</script>
	
{% endblock script %}
