{% block inicioDajax %}{% endblock inicioDajax %}	
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />		
		<meta name="viewport" 
		content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>conta</title>	
		{% block importJsDajax %}{% endblock importJsDajax %}			
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/estiloHeader.css">
		{% block estilo %}{% endblock estilo %}	
	</head>

	<body>
<!-- 		<header class="row"> -->
<!-- 			<div class="logo col-sm-2 col-xs-4 text-center"> -->
<!-- 				<img src="{{STATIC_URL}}img/logo.png"> -->
<!-- 			</div> -->
			
<!-- 			<div class="titulo col-sm-5 col-xs-8"> -->
<!-- 				<h1>Dapliw 2014</h1> -->
<!-- 			</div> -->
<!-- 		</header> -->
		
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{% url producto.views.index %}">DAPLIW</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">		        
		        <li class="active"><a href="{% url producto.views.index %}">Productos</a></li>
		        <li><a href="{% url cliente.views.index %}">Terceros</a></li>       
		        <li><a href="/factV/">Factura Venta</a></li>
		        <li><a href="/factC/">Factura Compra</a></li>
		        <li><a href="/clis/">Caja</a></li>
		        <li><a href="/lcc/">Creditos</a></li>
<!-- 		        <li><a href="/plis/">Factura Compra</a></li> -->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes <b class="caret"></b></a>
		          <ul class="dropdown-menu">
		            <li><a href="/cLisDet/I">Ingresos - Egresos</a></li>		            
		            <li class="divider"></li>
		            <li><a href="#">Factura de venta</a></li>
		            <li class="divider"></li>		            
		            <li><a href="#">Clientes</a></li>		            
		            <li><a href="#">Productos</a></li>
		          </ul>
		        </li>
		      </ul>
		     
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/cerrar/">Salir</a></li> 		        
		      </ul>
		      
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
				
		
		{% block contenido %}

		{% endblock contenido %}
		
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js" ></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js" ></script>
		{% block script %}

		{% endblock script %}
		
	</body>
</html>

	
	