{% extends "base.html" %}

{% block estilo %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/estiloAdmin.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/responsiveJTable.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/dataTables.bootstrap.css">
{% endblock estilo %}

{% block contenido %}
	<section id="contenedor"  >
		<article id="filtroMvts" class="col-md-8 col-md-offset-2">
				<div class="col-md-4" id="lblTitulo">
					<h2>{{ titulo }}</h2>
				</div>
				<div class="col-md-4 col-md-offset-4 text-right"  id="btnTitulo">
					{% if mod == 'E' %}
						<a href="{% url caja.views.listarDetalle 'I' %}" class="btn btn-primary"  >Ver Ingresos</a>
					{% else %}
						<a href="{% url caja.views.listarDetalle 'E' %}" class="btn btn-primary"  >Ver Egresos</a>
					{% endif %}
					<a href="{% url cliente.views.registro %}" class="btn btn-primary"  >Imprimir</a>
				</div>										
		</article> 
	
		<article id="tablaGeneral" class="col-md-8 col-md-offset-2">	
			<article id="tablaResponsive"  class="table-responsive">					
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tablaMvtCaja" width="100%">
					<thead>
						<tr>
							<td width="28%">Fecha</td>									
							<td width="20%" >Valor</td>
							<td width="52%">Descripcion</td>						
						</tr>
					</thead>
					<tbody>
						{% for i in mvts %}
						<tr>
							{% if mod == 'I' %}
								<td>{{ i.fechaIngreso }}</td>
								<td>{{ i.totalIngreso }}</td>
							{% else %}
								<td>{{ i.fechaEgreso }}</td>
								<td>{{ i.totalEgreso }}</td>
							{% endif %}						
							<td>{{ i.descripcion }}</td>							
						</tr>					
						{% endfor %}
					</tbody>
				</table>
			</article>
		</article>
	</section>

{% endblock contenido %}

{% block script %}

	<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
	<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/dataTables.bootstrap.js"></script>

	
	<script type="text/javascript">
	
		$(document).on('ready', inicio);
		
		function inicio()
		{		
			$('#tablaMvtCaja').dataTable({
		    	'oLanguage': {
		    		"sSearch": "Buscar:",
		    		"sProcessing": "Procesando...",
		    		"sEmptyTable": "No hay registros disponibles",
		    		"sZeroRecords": "No se encontraron resultados",
		    		"sLengthMenu": "Mostrar _MENU_ registros",
		    		"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
		    		"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
		    		"sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
		    		"sInfoPostFix": "",
		    		"sUrl": "",
		    		"sLoadingRecords": "Cargando...",
		    		"sInfoThousands": ",",
		    		"oPaginate": {
						"sFirst": "Primero",
						"sLast": "Ultimo",
						"sNext": "Siguiente",
						"sPrevious": "Anterior"
					},
					"fnInfoCallback": null,
				}
		    });						
		}
	</script>
{% endblock script %}